<!DOCTYPE html>
<html lang="vi">
	<head itemscope itemtype="https://schema.org/WebSite">
	<title>Profile - Tuan Duc Design</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google" content="notranslate" />
	<meta name="description" content="Website giới thiệu bản thân của Trần Tuấn Đức, con đường dẫn tới thành công của một freelancer." />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Profile - Tuan Duc Design" />
	<meta property="og:description" content="Website giới thiệu bản thân của Trần Tuấn Đức, con đường dẫn tới thành công của một freelancer." />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Profile - Tuan Duc Design" />
	<meta name="twitter:description" content="Website giới thiệu bản thân của Trần Tuấn Đức, con đường dẫn tới thành công của một freelancer." />
	<meta name="twitter:image" content="/assets/images/219C1200-816D-4FAC-9DA4-FD387C847893_1_105_c.jpeg" />
	<meta property="og:image" content="/assets/images/219C1200-816D-4FAC-9DA4-FD387C847893_1_105_c.jpeg" />
	<link rel="icon" href="/assets/images/tuanducdesign.jpg" />
	<link rel="apple-touch-icon-precomposed" href="/assets/images/tuanducdesign.jpg" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/tuanducdesign.jpg" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/tuanducdesign.jpg" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/tuanducdesign.jpg" />
	<% preact.headEnd %>
	</head>
	<body itemscope="itemscope" itemtype="https://schema.org/WebPage">
		<div id="app">
			<% preact.bodyEnd %>
		</div>
		<script src="/assets/js/plugins.js" defer></script>
        <script src="/assets/js/init.js" defer></script>
        <script src="/assets/js/main.js" defer></script>
	</body>
</html>
